@{
    ViewBag.Title = "About Us";
}

<p>@*Use this area to provide additional information.*@</p>


<div class="container">
    <div class="jumbotron-special">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>Southern Scents History</h3>
        <h4>The first candle was poured in 2004. Our candles have always been and still are a Top Quality Candle at an Affordable Price. Southern Scents Candles have often been imitated, but they can never be duplicated!</h4>
    </div>
    <p>Southern Scents Candles was established in 2004. They are located in Nairn, Louisiana which is in Plaquemines Parish. Progress was interrupted in 2005 due to hurricane Katrina, the Candle Shop was completely destroyed. Operations were moved to Kaplan, Louisiana for about eight months. After a lot of hard work operations resumed at a new location in Nairn, Louisiana.</p>
</div>

