@{
    ViewBag.Title = "Contact Us";
}

<p>@*Use this area to provide additional information.*@</p>


<div class="container">
    <div class="jumbotron-special">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>@ViewBag.Message</h3>
        <h4><address>
            12351 Falcon Crest Drive<br />
            Denham Springs, LA 70726<br />
            <abbr title="Phone">P:</abbr>
            504.912.0733
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:rdcplais@southernscent.netm">rdcplais@southernscent.net</a><br />
        </address>
        </h4>
    </div>
</div>